# Base config for mpmhn.py
# Hydra will load this when running mpmhn.py

# # 収束状態
# seed: 42
# num_particles: 20  # 粒子数
# steps: 200 # 合計ステップ数
# # learning_rate: 0.1 # 学習率
# gamma: 0.3   # 斥力の強さ0.5
# c: 2.0  # 斥力指数
# beta: 6.0  # CMHNの逆温度
# f_max: 10.0  # 斥力の最大値

# # 中間状態
# seed: 42
# sample_size: 20  # 粒子数
# steps: 200 # 合計ステップ数
# gamma: 0.3   # 斥力の強さ0.5
# c: 2.0  # 斥力指数
# beta: 3.5  # CMHNの逆温度
# f_max: 10.0  # 斥力の最大値

# # ランダム状態
# seed: 42
# num_particles: 20  # 粒子数
# steps: 200 # 合計ステップ数
# gamma: 0.3   # 斥力の強さ0.5
# c: 2.0  # 斥力指数
# beta: 1.0  # CMHNの逆温度
# f_max: 10.0  # 斥力の最大値

# ------------------ここまでレガシー------------------

seed: 42
memory_size: 3  # 記憶パターンの数
sample_size: 20  # 粒子数
steps: 200 # 合計ステップ数
gamma: 0.3   # 斥力の強さ0.5
c: 2.0  # 斥力指数
beta: 3.5  # CMHNの逆温度
f_max: 10.0  # 斥力の最大値
eta: 0.4  # 入力刺激の強さ

lr_configs:
  - a: 10.0
    scale: 0.02
    count: 10
  - a: 20.0
    scale: 0.03
    count: 10

stimulus:
  start: 20
  end: 100
  target: 0
  std: 0.2


defaults:
  - override hydra/job_logging: disabled


hydra:
  job:
    chdir: false  # 作業ディレクトリを変更しない

  run:
    dir: ./output/${hydra.job.name}/run/${now:%Y-%m-%d}/${now:%H-%M-%S}  # 出力ディレクトリ

  # multirun用の設定
  sweeper:
    params:
      seed: 0
      sample_size: 20
      steps: 500
      gamma: 0.1, 0.2, 0.3, 0.5
      c: 2.0
      beta: range(0.5, 8, 0.1)
      f_max: 10.0
  sweep:
    dir: ./output/${hydra.job.name}/multirun/${now:%Y-%m-%d}/${now:%H-%M-%S}  # multirun用の出力ディレクトリ
    subdir: num_particles=${num_particles},steps=${steps},f_max=${f_max},gamma=${gamma},c=${c},beta=${beta}/seed=${seed}  
